In [1]:
import pandas as pd
import sqlite3

In [5]:
def load_dataframe():
    con = sqlite3.connect("../data/global_urban_building_completeness.gpkg")
    query = f"""
        select
            region_wb
            ,count(distinct urban_center_id) as n_urban_centers
            ,count(distinct id_left) n_geowiki_locations
            ,count(*) as n_geowiki_cells
            ,sum(tp) as tp
            ,sum(fp) as fp
            ,sum(tn) as tn
            ,sum(fn) as fn
            ,case
                when sum(tp) + sum(fn) = 0 then null
                else 1.0 * sum(tp) / (sum(tp) + sum(fn))
            end as sensitivity
            ,case
                when sum(tp) + sum(fp) = 0 then null
                else 1.0 * sum(tp) / (sum(tp) + sum(fp))
            end as precision
        from geowiki_grids_final
        where
            microsoft_available is true
        group by region_wb
        order by region_wb
    """
    df = pd.read_sql_query(query, con=con)
    return df

In [7]:
df = load_dataframe()
display(df)

,region_wb,n_urban_centers,n_geowiki_locations,n_geowiki_cells,tp,fp,tn,fn,sensitivity,precision
0,East Asia & Pacific,24,37,2352,688,100,1364,112,0.860000,0.873096
1,Europe & Central Asia,144,182,11531,3360,548,6423,664,0.834990,0.859775
2,Latin America & Caribbean,91,138,8768,3377,385,3853,673,0.833827,0.897661
3,Middle East & North Africa,55,81,5094,1408,315,2880,260,0.844125,0.817179
4,North America,119,276,17373,4302,571,11273,675,0.864376,0.882824
5,South Asia,70,119,7526,2124,786,3819,381,0.847904,0.729897
6,Sub-Saharan Africa,161,375,23588,7127,1429,12128,1654,0.811639,0.832983